.categories{
      margin-top: $mg-4;
      .categories__content{
            width: 90%;
            margin: 0 auto;
            h3{
                  font-size: $fs-5;
            }
            .categories__item{
                  padding: $pd-1;
                  font-size: $fs-0;
                  border: 1px solid $color-black-1;
                  cursor: pointer;
                  margin-bottom: $mg-3;
                  &:hover{
                        box-shadow: 0 0 1px 1px $color-black-1, 0 3px 1px 0 $color-black-1;
                  }
            }
      }
}